services:
    database:
        image: redis:8.6-alpine
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: "{{ database_ping_interval + s | default(5) }}s"
            timeout: "{{ database_ping_timeout + s | default(3) }}s"
            retries: {{ database_ping_retries | default(5) }}
        volumes:
            - redis_data:/data

volumes:
    redis_data: