services:
    go:
        image: ghcr.io/zapi-web/gopher-pinger:latest
        ports:
            - {{ app_port | default(8080) }}:8080
        environment:
            - REDIS_ADDR={{ db_private_ip }}:{{ app_redis_port | default(6379) }}
            - PORT={{ app_port | default(8080) }}
            - LOG_LEVEL="{{ app_log_level | default('info') }}"
        networks:
            - frontend

    node_exporter:
        image: quay.io/prometheus/node-exporter:latest
        container_name: node_exporter
        volumes:
            - /:/host:ro,rslave
        command:
            - '--path.rootfs=/host'
        network_mode: host
        pid: host
        restart: unless-stopped

    promtail:
        image: grafana/promtail:latest
        container_name: promtail
        volumes:
            - /var/lib/docker/containers:/var/lib/docker/containers:ro
            - /var/run/docker.sock:/var/run/docker.sock
            - ./promtail-config.yaml:/etc/promtail/config.yaml
        command: --config.file=/etc/promtail/config.yaml
        privileged: true
        networks:
            - frontend
    
networks:
    frontend:
        driver: bridge